<% countries.forEach(c => { %>

<a href="/<%= c.slug %>/" class="nookyup-card">

  <h2 class="text-3xl font-semibold flex items-center gap-3 tracking-wide">
    <span><%= c.flag %></span>
    <span><%= c.name %></span>
  </h2>

  <p class="text-slate-400 mt-3 text-sm italic">
    <%= c.tagline %>
  </p>

</a>

<% }) %>

